<div flexLayout="column">

  <mat-card class="customCard">
    <mat-card-header>
      <mat-card-title>Contact</mat-card-title>
    </mat-card-header>
    <mat-card-content class="customCardContent">
      <div flexLayout="column">
        <form [formGroup]="contactForm" class="contactForm">
          <div fxFlex="100">
            <mat-form-field appearance="outline" fxFlex="50" fxFlex.gt-md="30">
              <mat-label>First Name</mat-label>
              <input matInput formControlName="firstName">
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="50" fxFlex.gt-md="30">
              <mat-label>Middle Name</mat-label>
              <input matInput formControlName="middleName">
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-md="30">
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="lastName">
            </mat-form-field>

          </div>
          <div fxFlex="100">

            <mat-form-field appearance="outline" fxFlex="50" fxFlex.gt-md="45">
              <mat-label>Legal Name</mat-label>
              <input matInput formControlName="legalName">
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="50" fxFlex.gt-md="45">
              <mat-label>Date of Birth</mat-label>
              <input matInput [max]="maxDate" [matDatepicker]="picker" formControlName="dob">
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

          </div>
          <div fxFlex="100">


            <mat-form-field appearance="outline" fxFlex="50" fxFlex.gt-md="45">
              <mat-label>Start Date</mat-label>
              <input matInput [matDatepicker]="picker1" formControlName="startDate">
              <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="50" fxFlex.gt-md="45">
              <mat-label>End Date</mat-label>
              <input matInput [matDatepicker]="picker2" formControlName="endDate">
              <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>


          </div>
          <div fxFlex="100">
            <mat-slide-toggle formControlName="isActive" color="primary" fxFlex="50" fxFlex.gt-md="45">Is
              Active?</mat-slide-toggle>
            <mat-slide-toggle formControlName="isSponsorRequired" color="primary" fxFlex="50" fxFlex.gt-md="45">Is
              Sponsorship Required?</mat-slide-toggle>
          </div>
        </form>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button (click)="onCancel()">Cancel</button>
      <button mat-button (click)="onSave()">Save</button>
    </mat-card-actions>
  </mat-card>



  <mat-card class="customCard">
    <mat-card-header>
      <mat-card-title>Contracts</mat-card-title>
    </mat-card-header>
    <mat-card-content class="customCardContent">
      <div flexLayout="column">
        <form [formGroup]="contactForm" class="contractForm">
          <div fxFlex="100">
            <mat-form-field appearance="outline" fxFlex="50" fxFlex.gt-md="30">
              <mat-label>Vendor Contact Name</mat-label>
              <input matInput formControlName="firstName">
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="50" fxFlex.gt-md="30">
              <mat-label>Contact Eemail</mat-label>
              <input matInput formControlName="middleName">
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-md="30">
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="lastName">
            </mat-form-field>

          </div>
          <div fxFlex="100">

            <mat-form-field appearance="outline" fxFlex="50" fxFlex.gt-md="45">
              <mat-label>Legal Name</mat-label>
              <input matInput formControlName="legalName">
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="50" fxFlex.gt-md="45">
              <mat-label>Date of Birth</mat-label>
              <input matInput [max]="maxDate" [matDatepicker]="picker" formControlName="dob">
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

          </div>
          <div fxFlex="100">


            <mat-form-field appearance="outline" fxFlex="50" fxFlex.gt-md="45">
              <mat-label>Start Date</mat-label>
              <input matInput [matDatepicker]="picker1" formControlName="startDate">
              <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="50" fxFlex.gt-md="45">
              <mat-label>End Date</mat-label>
              <input matInput [matDatepicker]="picker2" formControlName="endDate">
              <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>


          </div>
          <div fxFlex="100">
            <mat-slide-toggle formControlName="isActive" color="primary" fxFlex="50" fxFlex.gt-md="45">Is
              Active?</mat-slide-toggle>
            <mat-slide-toggle formControlName="isSponsorRequired" color="primary" fxFlex="50" fxFlex.gt-md="45">Is
              Sponsorship Required?</mat-slide-toggle>
          </div>
        </form>
      </div>
      <!-- <form [formGroup]="contactForm" class="contactForm">
        <mat-form-field>
          <mat-label>Contract Details</mat-label>
          <input matInput formControlName="firstName">
        </mat-form-field>

      </form> -->
      <mat-card-actions align="end">
        <button mat-button (click)="onCancel()">Cancel</button>
        <button mat-button (click)="onSave()">Save</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
  <mat-card class="customCard">
    <mat-card-header>
      <mat-card-title>Insurance</mat-card-title>
    </mat-card-header>
    <mat-card-content class="customCardContent">
      <form [formGroup]="contactForm" class="contactForm">
        <mat-form-field>
          <mat-label>Insurance Details</mat-label>
          <input matInput formControlName="firstName">
        </mat-form-field>

      </form>
      <mat-card-actions align="end">
        <button mat-button (click)="onCancel()">Cancel</button>
        <button mat-button (click)="onSave()">Save</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
  <mat-card class="customCard">
    <mat-card-header>
      <mat-card-title>Invoice</mat-card-title>
    </mat-card-header>
    <mat-card-content class="customCardContent">

    </mat-card-content>
  </mat-card>
  <mat-card class="customCard">
    <mat-card-header>
      <mat-card-title>Immigration</mat-card-title>
    </mat-card-header>
    <mat-card-content class="customCardContent">

    </mat-card-content>
  </mat-card>

</div>


<!-- <form id="empForm" name="empForm" #form="ngForm">

  <table>
    <tr>
      <td>
        <span>
          <label name="lblHId">{{datasource.PersonalInfo.Id}}</label>
        </span>
      </td>
      <td>
        <span>
          <label name="lblHfirstName">{{datasource.PersonalInfo.FirstName}} {{datasource.PersonalInfo.LastName}}</label>

        </span>
      </td>
      <td>
        <span>
          <label for="isActive" name="lblhisActive">Is Active</label>
          <p-inputSwitch [(ngModel)]="datasource.PersonalInfo.IsActive" inputId="isActive" [readonly]="true"
            name="hisActive"></p-inputSwitch>

        </span>

      </td>
    </tr>
    <tr>
      <td colspan="3">
        <p-tabView>
          <p-tabPanel header="Contact">
            <ng-template pTemplate="content">
              <app-emp-contact></app-emp-contact>
            </ng-template>
          </p-tabPanel>
          <p-tabPanel header="Contracts">
            <ng-template pTemplate="content">
              Complex Content to Lazy Load
            </ng-template>
          </p-tabPanel>
          <p-tabPanel header="Insurance">
            <ng-template pTemplate="content">
              Complex Content to Lazy Load
            </ng-template>
          </p-tabPanel>
          <p-tabPanel header="Invoice">
            <ng-template pTemplate="content">
              Complex Content to Lazy Load
            </ng-template>
          </p-tabPanel>
          <p-tabPanel header="Immigration">
            <ng-template pTemplate="content">
              Complex Content to Lazy Load
            </ng-template>
          </p-tabPanel>

        </p-tabView>

      </td>

    </tr>

  </table>
</form> -->