.mat-column-day1>.mat-mdc-form-field,
.mat-column-day2>.mat-mdc-form-field,
.mat-column-day3>.mat-mdc-form-field,
.mat-column-day4>.mat-mdc-form-field,
.mat-column-day5>.mat-mdc-form-field,
.mat-column-day6>.mat-mdc-form-field,
.mat-column-day7>.mat-mdc-form-field {
    width: 70px
}

.mat-column-project>.mat-mdc-form-field,
.mat-column-task>.mat-mdc-form-field,
.mat-column-type>.mat-mdc-form-field {
    width: 150px
}

.timesheet-table {
    width: 100%;
    overflow-x: auto;
    margin-top: 20px;
    border: 1px solid black;
}


.timesheet-table thead tr, .timesheet-table tbody tr{
    border-bottom: 1px solid black;
} 

.timesheet-table thead tr {
    background-color: #d5dff0;
}

.timesheet-table tbody tr {
    background-color: #f2f2f5;
}

.timesheet-table th,.timesheet-table td {
    text-align: center;
    border-right: 1px solid black;
    padding: 10px 5px;
}


.timesheet-table td input {
    padding: 5px;
}


.timesheet-table td input[type="text"] {
    width: 120px;
}

.timesheet-table td input[type="number"] {
    width: 70px;
}

section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    max-width: 600px;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
  