
<p-toast></p-toast>

<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>     
    </ng-template>
  </p-toolbar>

  <p-table #dt [value]="employeeslist" [rows]="10" [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']"
           [(selection)]="selectedemployee" [rowHover]="true" dataKey="id"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
    <ng-template pTemplate="header">
      <tr>    
        <th pSortableColumn="Name">Project <p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="Status">Vendor <p-sortIcon field="price"></p-sortIcon></th>
        <th pSortableColumn="Role">period Starting <p-sortIcon field="periodStarting"></p-sortIcon></th>     
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-employee>
      <tr>
        <!-- <td>
            <p-tableCheckbox [value]="product"></p-tableCheckbox>
        </td> -->
        <td>{{employee.name}}</td>
        
        <td>{{employee.status}}</td>
        <td>{{employee.role}}</td>
        <td><span [class]="'product-badge status-' + timesheet.status.toLowerCase()">{{timesheet.status}}</span></td>
       
        <td>
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editProduct(timesheet)"></button>
          
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>





