/* app.component.css */
.sidenav-container {
  height: calc(100vh - 128px);
}

.sidenav {
  width: 250px;
}
.example-spacer {
  flex: 1 1 auto;
}
.icon-container {
  display: inline-flex;
  align-items: center;
  margin-right: 8px;
}

.title-text {
  display: inline-flex;
  align-items: center;
  vertical-align: super;
}



