<mat-toolbar style="background-color: #d7e3ff;color: #005cbb;">

  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <div>Employee Central</div>
  <!-- <mat-icon>home</mat-icon> -->
  <span class="example-spacer"></span>
  <button mat-button [matMenuTriggerFor]="menu">
    <button mat-icon-button>
      <mat-icon>person</mat-icon>
      
    </button>
  </button>
  <div>User Name</div>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="'/dashboard/profile'">Profile</button>
    <button mat-menu-item [routerLink]="'/login'">Logout</button>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav"  [opened]="true" mode="side">
    <mat-list role="list">
      <mat-list-item role="listitem">
        <span class="icon-container">
        <mat-icon>home</mat-icon>
        </span>
        <span class="title-text">
        <a (click)="sidenav.toggle()" style="text-decoration: none;" [routerLink]="'/dashboard'">Home</a>
        </span>
      </mat-list-item>
      
      <mat-accordion>

        
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="icon-container">
              <mat-icon>date_range</mat-icon>
              </span>
              <span class="title-text">
              Time Sheets
            </span>

            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list-item role="listitem">
            <a (click)="sidenav.toggle()" style="text-decoration: none;" [routerLink]="'/dashboard/timesheet'">List</a>
          </mat-list-item>
          <!-- <mat-list-item role="listitem">
            <a (click)="sidenav.toggle()" style="text-decoration: none;" [routerLink]="'/dashboard/timesheet/create'">PList</a>
          </mat-list-item> -->
        </mat-expansion-panel>
      </mat-accordion>


      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = false" (closed)="panelOpenState = true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="icon-container">
              <mat-icon>people</mat-icon>
              </span>
              <span class="title-text">
                Employees
              <!-- <a (click)="sidenav.toggle()" style="text-decoration: none;" [routerLink]="'/dashboard/emp/emplist'">Employees</a> -->
              </span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list-item role="listitem">
            <a (click)="sidenav.toggle()" style="text-decoration: none;" [routerLink]="'/dashboard/emp'" title="Time Sheets Management">Time Sheets Mangement</a>
          </mat-list-item>
          <mat-list-item role="listitem">
            <a (click)="sidenav.toggle()" style="text-decoration: none;" [routerLink]="'/dashboard/emp/emplist'">Employee List</a>
          </mat-list-item>
       
        </mat-expansion-panel>
      </mat-accordion>


      <!-- <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = false" (closed)="panelOpenState = true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="icon-container">
              <mat-icon>business</mat-icon>
              </span>
              <span class="title-text">
                Company
              </span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list-item role="listitem">
            <a (click)="sidenav.toggle()" style="text-decoration: none;" [routerLink]="'/vendor'">Vendor</a>
          </mat-list-item>
          <mat-list-item role="listitem">
            <a (click)="sidenav.toggle()" style="text-decoration: none;" [routerLink]="'/contract'">Contract</a>
          </mat-list-item>
        </mat-expansion-panel>
      </mat-accordion> -->


    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-toolbar style="background-color: #d7e3ff;color: #005cbb;"></mat-toolbar>
