
<form>
  <div id="leftpart" style="width:30%;float:left;">
    <div>
      <label for="firstName" name="lblfirstName">First Name</label>
      <input id="firstName" type="text" pInputText [(ngModel)]="datasource.PersonalInfo.FirstName" name="firstName" class="p-inputtext-sm">
    </div>
    <div>
      <label for="middleName" name="lblmiddleName">Middle Name</label>
      <link href="emp-contact.component.css" rel="stylesheet" />
      <input id="middleName" type="text" pInputText [(ngModel)]="datasource.PersonalInfo.MiddleName" name="middleName" class="p-inputtext-sm">
    </div>
    <div>
      <label for="lastName" name="lbllastName">Last Name</label>
      <input id="lastName" type="text" pInputText [(ngModel)]="datasource.PersonalInfo.LastName" name="lastName" class="p-inputtext-sm">
    </div>
    <div>
      <label for="legalName" name="lbllegalName">Legal Name</label>
      <input id="legalName" type="text" pInputText [(ngModel)]="datasource.PersonalInfo.LegalName" name="legalName" class="p-inputtext-sm">
    </div>
  </div>
  <div id="rightpart" style="width:30%;float:left;">
    <div>
      <label for="dateOfBirth" name="lbldateOfBirth">Date of Birth</label>
      <p-calendar [(ngModel)]="datasource.PersonalInfo.DateOfBirth" [showIcon]="true" inputId="dateOfBirth" name="dateOfBirth"></p-calendar>
    </div>
    <div>
      <label for="startDate" name="lblstartDate">Start Date</label>
      <p-calendar [(ngModel)]="datasource.StartDate" [showIcon]="true" inputId="startDate" name="startDate"></p-calendar>
    </div>
    <div>
      <label for="endDate" name="lblendDate">End Date</label>
      <p-calendar [(ngModel)]="datasource.EndDate" [showIcon]="true" inputId="endDate" name="endDate"></p-calendar>
    </div>
  </div>
  <div style="float:right;width:30%">
    <div>
      <label for="isActive" name="lblisActive">Is Active</label>
      <p-inputSwitch [(ngModel)]="datasource.PersonalInfo.IsActive" inputId="isActive" name="isActive"></p-inputSwitch>
    </div>
    <div>
      <label for="isSponsorReq" name="lblisSponsorReq" >Is Sponsorship Required</label>
      <p-inputSwitch [(ngModel)]="datasource.IsSponsorshipRequired" inputId="isSponsorReq" name="isSponsorReq"></p-inputSwitch>
    </div>
  </div>
</form>
